* {
	padding: 0rem;
	margin: 0rem;
}

body {
	font-size: 1rem;
}

ul li {
	list-style: none;
}

#top {
	height: 2.1875rem;
}

#top .cntBox {
	width: 75rem;
	margin: 0 auto;
}


/*左端*/

#top .cnt_left {
	width: 13.125rem;
	float: left;
}

#top .cnt_left ul li {
	float: left;
	line-height: 2.1875rem;
	padding: 0rem 0.129rem;
}

#top .cnt_left ul li a {
	text-decoration: none;
	color: #fff;
}


/*右端*/

#top .cnt_right {
	width: 6.25rem;
	float: right;
	line-height: 2.1875rem;
}

#top .cnt_right a {
	text-decoration: none;
	color: #999;
	transition: all 0.5s linear;
}

#top .cnt_right a:hover {
	color: #0EAF52;
	transition: all 0.5s linear;
}


/*导航栏头部*/

#nav_header {
	width: 75rem;
	height: 4rem;
	margin: 0 auto;
	background: #0EAF52
}


/*左边部分*/

#nav_header .nav_left {
	width: 10rem;
	float: left;
}

#nav_header a img {
	border: none;
	float: left;
}


/*动画*/

@-moz-keyframes play {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(360deg)
	}
}

@keyframes play {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(360deg)
	}
}

#nav_header .nav_left .logo {
	animation: play 1s ease infinite;
}


/*中间部分*/

#nav_header .nav_center {
	width: 33rem;
	float: left;
}

#nav_header .nav_center ul li {
	float: left;
	line-height: 4rem;
	width: 5rem;
	height: 4rem;
	padding: 0rem 1.6rem;
	position: relative;
	text-align: center;
	overflow: hidden;
}

#nav_header .nav_center ul li a {
	text-decoration: none;
	color: #111;
	font-weight: bold;
	font-family: "微软雅黑";
	display: inline-block;
}

#nav_header .nav_center ul li .close {
	color: red;
	font-weight: bold;
	font-family: "微软雅黑";
	display: inline-block;
	position: absolute;
	width: 5em;
	height: 4rem;
	top: -4rem;
	left: 2.8rem;
	transition: all 0.5s ease;
}

#nav_header .nav_center ul li:hover .close {
	position: absolute;
	top: 0rem;
	left: 1.59rem;
	transition: all 0.5s ease;
	background: rgba(1, 1, 1, 0.4)
}


/*右端部分*/

#nav_header .nav_right {
	height: 4rem;
	width: 23rem;
	float: right;
}

#nav_header .nav_right img {
	margin-top: 0.8rem;
	border-radius: 50%;
	float: left;
	margin-left: 1rem;
}

#nav_header .nav_right p {
	float: left;
	height: 4rem;
	width: 4rem;
	line-height: 4rem;
	margin-left: 0.8rem;
	text-align: center;
}

#nav_header .nav_right p a {
	text-decoration: none;
	color: #111;
	transition: all 0.5s ease;
}

#nav_header .nav_right p a:hover {
	color: #fff;
	transition: all 0.5s ease;
}


/*内容盒子*/

#nav_box {
	width: 75rem;
	height: 25rem;
	margin: 0 auto;
}

#nav_box .header {
	height: 2.125rem;
	width: 75rem;
	background-color: #ddd;
	overflow: hidden;
}

#nav_box .header .h_box {
	/*width: 65.2rem;*/
	margin: 0 auto;
}

#nav_box .header .h_box .h_l {
	width: 38rem;
	float: left;
	line-height: 2.125rem;
}

#nav_box .header .h_box .h_l ul li {
	float: left;
	padding: 0rem 1.8rem;
	text-align: center;
}

#nav_box .header .h_box .h_l ul li a {
	color: #fff;
	text-decoration: none;
}

#nav_box .header .h_box .h_r {
	width: 12.5rem;
	float: right;
}

#nav_box .header .h_box .h_r .border {
	border: 0.0625rem solid #ccc;
	height: 1.6rem;
	line-height: 1.6rem;
	margin-top: 0.24rem;
}

#nav_box .header .h_box .h_r .border input {
	height: 1.6rem;
	width: 10.3125rem;
	border: none;
	outline: none;
	text-indent: 0.3rem;
}

#nav_box .header .h_box .h_r .border a {
	display: inline-block;
	height: 1.5rem;
	width: 2rem;
	line-height: 1.5rem;
	text-align: center;
	border-left: 0.0625rem solid #ccc;
}

#nav_box .header .h_box .h_r .border a {
	text-decoration: none;
}


/*banner区域*/

#nav_box .bannerBox {
	width: 100%;
	height: 22.875rem;
	position: relative;
	background: rgb(90, 120, 154);
	border: 0.0625rem solid #ccc;
	overflow: hidden;
}

#nav_box .bannerBox .banner {
	width: 43.75rem;
	height: 20rem;
	position: relative;
}

#nav_box .bannerBox .banner .slide {
	width: 1000%;
	height: 20rem;
	position: absolute;
}

#nav_box .bannerBox .banner .slide li {
	float: left;
	height: 20rem;
	width: 43.75rem;
	margin-top: 0.9375rem;
}

#nav_box .bannerBox .banner .slide li img {
	border: none;
}


/*前后切换页*/

#nav_box .bannerBox .prev {
	position: absolute;
	top: 11.875rem;
	left: 0rem;
	text-decoration: none;
}

#nav_box .bannerBox .prev .iconfont {
	font-size: 1.875rem;
}

#nav_box .bannerBox .next {
	position: absolute;
	top: 11.875rem;
	right: 0rem;
	text-decoration: none;
}

#nav_box .bannerBox .next .iconfont {
	font-size: 1.875rem;
}


/*选项栏*/

#nav_box .bannerBox .btns {
	width: 10rem;
	height: 1.5rem;
	position: absolute;
	top: 21.25rem;
	left: 37.4375rem;
}

#nav_box .bannerBox .btns a {
	display: inline-block;
	height: 1.5rem;
	width: 1.25rem;
	background: #0EAF52;
	margin-left: 0.3125rem;
	border-radius: 50%;
}

#nav_box .bannerBox .btns a:hover {
	background: transparent;
	border: 0.125rem solid #0EAF52
}


/*在线首发*/

#onlie {
	height: 23.125rem;
	width: 75rem;
	margin: 0 auto;
}

#onlie .title {
	height: 2.25rem;
	border-bottom: 0.0625rem solid #ccc;
}

#onlie .title .t_l {
	width: 12.5rem;
	height: 100%;
	line-height: 2.25rem;
	float: left;
}

#onlie .title .t_l .first:before {
	content: "▌";
	font-size: 1.5rem;
	color: red;
}

#onlie .title .t_l .more {
	padding-left: 4rem;
	color: #fff;
}


/*右边*/

#onlie .title .t_r {
	width: 16rem;
	float: right;
}

#onlie .title .t_r .num {
	float: left;
	line-height: 1.25rem;
	margin: 0.75rem 0.625rem 0rem -0.375rem;
}

#onlie .title .t_r .num a {
	text-decoration: none;
}

#onlie .title .t_r .ic {
	float: left;
	width: 3.75rem;
	height: 1.25rem;
	border: 0.0625rem solid #ccc;
	text-align: center;
	margin: 0.5rem 0.5rem 0.3125rem 1.375rem;
}

#onlie .title .t_r .ic a {
	display: inline-block;
	height: 1.25rem;
	width: 3.75rem;
	text-decoration: none;
}

#onlie .title .t_r .ic a:hover {
	background: #0EAF52;
	transition: all 0.5s ease;
}

#onlie .cnt {
	height: 20.875rem;
}

#onlie .cnt ul li {
	float: left;
	height: 17.75rem;
	width: 13.75rem;
	margin: 1.3rem 0.3rem;
	border: 0.0625rem solid #111;
	position: relative;
	overflow: hidden;
}

#onlie .cnt ul li p {
	color: #fff;
}

#onlie .cnt ul li:nth-child(1) {
	margin-left: 1rem;
}

#onlie .cnt ul li:nth-child(2) {
	margin-left: 0.6rem;
}

#onlie .cnt ul li:nth-child(3) {
	margin-left: 0.6rem;
}

#onlie .cnt ul li:nth-child(4) {
	margin-left: 0.6rem;
}

#onlie .cnt ul li:nth-child(5) {
	margin-left: 0.6rem;
}

#onlie .cnt ul li img {
	border: none;
}

#onlie .cnt ul li .p1,
.p2 {
	width: 6.839rem;
	height: 4rem;
	float: left;
	text-align: center;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

#onlie .cnt ul li .p1 {
	border-right: 0.0625rem solid #ccc;
	background: #0DA44D;
}

#onlie .cnt ul li .p1 a {
	display: inline-block;
	color: #fff;
	text-decoration: none;
}

#onlie .cnt ul li .p2 a {
	display: inline-block;
	color: #fff;
	text-decoration: none;
}

#onlie .cnt ul li .p1:hover {
	background: #FFAE00;
}

#onlie .cnt ul li .p2 {
	background: #0EAF52
}

#onlie .cnt ul li .p2:hover {
	background: #FFAE00
}

#onlie .cnt ul li .p1 p:nth-child(1) {
	margin-top: 1rem;
}

#onlie .cnt ul li .p2 p:nth-child(1) {
	margin-top: 1rem;
}

#onlie .cnt ul li .card {
	width: 13.75rem;
	height: 3rem;
	background: rgba(1, 1, 1, 0.3);
	line-height: 1.5rem;
	position: absolute;
	top: 14.8rem;
	left: 0rem;
	z-index: -1;
}

#onlie .cnt ul li .card p {
	padding-left: 1rem;
}

#onlie .cnt ul li:hover .card {
	position: absolute;
	top: 10.9rem;
	left: 0rem;
	z-index: 2;
	transition: all 0.5s ease;
}

#MV {
	width: 75rem;
	height: 20.625rem;
	margin: 0 auto;
}

#MV .header {
	width: 100%;
	height: 2.25rem;
}

#MV .header .icon {
	background-image: url("image/icon.png");
	width: 6.9375rem;
	height: 19.875rem;
	display: inline-block;
}

#MV .header .ic1 {
	height: 2.0625rem;
	width: 6.625rem;
	background-position: 0rem -1.75rem;
}

#MV .header .ic2 {
	height: 1.25rem;
	width: 2.3125rem;
	background-position: 0px 3rem;
}

#MV .header .tip_title {
	float: right;
	height: 2.25rem;
	width: 200px;
}

#MV .header .tip_title ul li {
	float: left;
	line-height: 2.25rem;
	padding: 0rem 0.6rem;
	text-align: center;
}

#MV .header .tip_title ul li a {
	text-decoration: none;
	color: #0EAF52
}

#MV .header .tip_title ul li span {
	margin-left: 0.9rem;
}

#MV .content {
	width: 100%;
	height: 18.375rem;
}

#MV .content ul li {
	height: 7.8125rem;
	width: 13.75rem;
	float: left;
	position: relative;
	margin: 0.625rem;
}

#MV .content ul li img {
	border: none;
}

#MV .content ul li .mask {
	height: 7.8125rem;
	width: 13.75rem;
	background: rgba(1, 1, 1, 0.3);
	position: absolute;
	top: 0rem;
	left: 0rem;
	display: none;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
}

#MV .content ul li:hover .mask {
	display: block;
	transition: all 0.5s ease-in-out;
}

#MV .content ul li .mask .date {
	margin-top: 5rem;
}

#MV .content ul li .mask .date .num {
	margin-left: 5rem;
}

#MV .content ul li .say {
	position: absolute;
	top: 5rem;
	left: 0rem;
	color: #FFF;
}

#MV .content ul li .name {
	position: absolute;
	top: 6.25rem;
	left: 0rem;
	color: #0EAF52;
}

#MV .content ul li:hover .say {
	display: none;
}

#MV .content ul li:hover .name {
	display: none;
}

#newPush {
	width: 75rem;
	height: 29.375rem;
	margin: 1.215rem auto;
}

#newPush .header ul li {
	height: 2.1875rem;
	width: 24.6875rem;
	float: left;
	margin-left: 0.3125rem;
}

#newPush .header ul li .icon {
	background-image: url("image/icon.png");
	width: 6.9375rem;
	height: 19.875rem;
	display: inline-block;
}

#newPush .header ul li .ic3 {
	height: 1.875rem;
	width: 6.9375rem;
	background-position: 0rem -3.6875rem;
}

#newPush .header ul li .ic4 {
	height: 1.0625rem;
	width: 2.3125rem;
	background-position: 0rem 2.9375rem;
	margin-left: 9.375rem;
}

#newPush .header ul li .ic5 {
	height: 1.875rem;
	width: 6.9375rem;
	background-position: 0rem 1.875rem;
}

#newPush .header ul li .ic6 {
	height: 1.0625rem;
	width: 2.3125rem;
	background-position: 0rem 2.9375rem;
	margin-left: 9.375rem;
}

#newPush .header ul li .ic7 {
	height: 1.75rem;
	width: 3.4375rem;
	background-position: 0rem 4.625rem;
}

#newPush .header ul li .ic8 {
	height: 1.0625rem;
	width: 2.3125rem;
	background-position: 0rem 2.9375rem;
	margin-left: 12.5rem;
}

#newPush .body {
	height: 27.5rem;
	background: url("../image/fengche/song.jpg");
	clear: both;
}

#newPush .body ul {
	float: left
}

#newPush .body .u1 {
	margin-left: 6.875rem;
}

#newPush .body .u2 {
	margin-left: 6.875rem;
}

#newPush .body .u3 {
	margin-left: 6.875rem;
}

#newPush .body ul li {
	height: 2.5rem;
	width: 14.0625rem;
	border: 0.0625rem solid #ccc;
	margin: 0.375rem 0.9375rem;
	line-height: 2.5rem;
	padding-left: 0.75rem;
}

#newPush .body ul li a {
	text-decoration: none;
	color: #fff;
}

#newPush .body ul li:hover {
	box-shadow: inset 0rem 0rem 0.125rem 0.125rem #FFF;
	background: rgba(255, 255, 255, 0)
}

#supper_colect {
	width: 75rem;
	height: 26.25rem;
	margin: 0.625rem auto;
	border: 0.0625rem solid #ccc;
}

#supper_colect .c_left {
	width: 48.75rem;
	height: 23.75rem;
	float: left;
}

#supper_colect .c_left .c_h {
	width: 100%;
	height: 2.25rem;
}

#supper_colect .c_left .c_h .icon {
	background-image: url("image/icon.png");
	width: 6.9375rem;
	height: 19.875rem;
	display: inline-block;
}

#supper_colect .c_left .c_h .ic9 {
	height: 1.875rem;
	width: 6.9375rem;
	background-position: 0rem -5.75rem;
}

#supper_colect .c_left .c_h .ic10 {
	height: 1.25rem;
	width: 2.5rem;
	background-position: 0rem 3.125rem;
	margin-left: 600px;
}

#supper_colect .c_left .bg_l {
	width: 19.0625rem;
	height: 20rem;
	float: left;
	text-align: center;
	position: relative;
	overflow: hidden;
}

#supper_colect .c_left .bg_l a {
	font-size: 14px;
	text-decoration: none;
	color: #0EAF52;
}

#supper_colect .c_left .bg_l .mask1 {
	position: absolute;
	top: 0rem;
	left: -19.0625rem;
	height: 18.125rem;
	width: 19.0625rem;
	background: rgba(1, 1, 1, 0.5);
	transition: all 0.5s ease;
}

#supper_colect .c_left .bg_l:hover .mask1 {
	position: absolute;
	top: 0rem;
	left: 0rem;
	transition: all 0.5s ease;
}

#supper_colect .c_left .bg_r {
	width: 26.6875rem;
	height: 20rem;
	float: right;
	text-align: center;
}

#supper_colect .c_left .bg_r ul li {
	height: 9.5rem;
	width: 8.125rem;
	float: left;
	margin: 0.3125rem;
}

#supper_colect .c_left .bg_r ul li a img {
	border: none;
}

#supper_colect .c_left .bg_r ul li a {
	font-size: 0.875rem;
	text-decoration: none;
	color: #0EAF52;
}

#supper_colect .c_left .bg_r .list2 {
	position: relative;
	overflow: hidden;
}

#supper_colect .c_left .bg_r .list2 .mask2 {
	height: 8.125rem;
	width: 8.125rem;
	background: rgba(1, 1, 1, 0.5);
	top: 8.125rem;
	left: 0rem;
	margin-top:1px;
}

#supper_colect .c_left .bg_r .list2:hover .mask2 {
	position: absolute;
	top: 0rem;
	left: 0rem;
	transition: all 0.2s ease;
}


/*精选集右端部分*/

#supper_colect .c_right {
	width: 23.75rem;
	height: 23.75rem;
	float: right;
	border-left: 0.0625rem solid #ccc;
	border-bottom: 0.0625rem solid #ccc;
}

#supper_colect .c_right .cr_h {
	width: 100%;
	height: 2.25rem;
}

#supper_colect .c_right .cr_h .icon {
	background-image: url("image/icon.png");
	width: 6.9375rem;
	height: 19.875rem;
	display: inline-block;
}

#supper_colect .c_right .cr_h .ic11 {
	height: 1.6875rem;
	width: 4.6875rem;
	background-position: 0rem 6rem;
}

#supper_colect .c_right .cr_h .ic12 {
	height: 1.0625rem;
	width: 2.3125rem;
	background-position: 0rem 2.9375rem;
	margin-left: 15.5rem;
}


/*歌手*/

#supper_colect .songer {
	width: 20rem;
	height: 16.875rem;
	margin: 1.25rem 1.875rem;
	text-align: center;
}

#supper_colect .songer ul li {
	width: 4.5rem;
	height: 7.5rem;
	float: left;
}

#supper_colect .songer ul li:nth-child(1) {
	margin: 0.625em 0rem 0rem 1.6875rem;
}

#supper_colect .songer ul li:nth-child(2) {
	margin: 0.625em 0rem 0rem 1.6875rem;
}

#supper_colect .songer ul li:nth-child(3) {
	margin: 0.625em 0rem 0rem 1.6875rem;
}

#supper_colect .songer ul li:nth-child(4) {
	margin: 0.625em 0rem 0rem 1.6875rem;
}

#supper_colect .songer ul li:nth-child(5) {
	margin: 0.625em 0rem 0rem 1.6875rem;
}

#supper_colect .songer ul li:nth-child(6) {
	margin: 0.625em 0rem 0rem 1.6875rem;
}

#supper_colect .songer ul li a img {
	max-width: 100%;
	height: 4.375rem;
	border: none;
	border-radius: 80%;
	margin-top: 0.9375rem;
}

#supper_colect .songer ul li a img:hover {
	transform: scale(0.9);
	box-shadow: 0rem 0rem 0.3125rem 0.3125rem #0EAF52;
	transition: all 0.5s ease;
}

#supper_colect .songer ul li p a {
	text-decoration: none;
	color: #0EAF52;
	font-size: 0.875rem;
}

#supper_colect .address {
	height: 3.3125rem;
	margin-top: -1.875rem;
	border-top: 0.0625rem dashed #0EAF52;
}

#supper_colect .address ul li {
	float: left;
	padding: 0.3125rem;
}

#supper_colect .address ul li a {
	font-size: 0.875rem;
	text-decoration: none;
	color: #666;
}

#supper_colect .address ul li a:hover {
	color: #0EAF52;
	transition: all 0.5s ease;
}


/*底部*/

#foot {
	height: 6.0625rem;
	overflow: hidden;
	border-top: 0.125rem solid #ccc;
}

#foot .fbox {
	width: 75rem;
	height: 3.75rem;
	margin: 1.3125rem auto;
}

#foot .fbox .fl {
	width: 37.5rem;
	text-align: center;
	border-right: 0.0625rem solid #ccc;
	float: left;
}

#foot .fbox .fl ul li {
	float: left;
	padding: 0.375rem 0.16rem;
}

#foot .fbox .fl ul li span {
	margin-left: 0.375rem;
	color: #666;
}

#foot .fbox .fl ul li a {
	font-size: 0.75rem;
	color: #999;
	text-decoration: none;
}

#foot .fbox .fl ul li a:hover {
	text-decoration: underline;
	color: #111;
}

#foot .fbox .fr {
	width: 37.4375rem;
	height: 100%;
	float: left;
	line-height: 3.75rem;
}

#foot .fbox .fr p {
	float: left;
	padding-left: 18.75rem;
}

#foot .fbox .fr .icons {
	display: inline-block;
	height: 2.6875rem;
	width: 12.25rem;
	background-image: url("../image/fengche/bg.png");
	margin-top: 0.3125rem;
}

position:relative;
#foot .fbox .fr .weibo {
	width: 2.5rem;
	height: 2.75rem;
	background-position: 0rem -0.0625rem;
}

#foot .fbox .fr .tencent {
	width: 2.5rem;
	height: 2.75rem;
	background-position: -2.375rem -0.125rem;
}

#foot .fbox .fr .weixin {
	width: 2.5rem;
	height: 2.75rem;
	background-position: -4.6875rem 0rem;
}

#foot .fbox .fr .douhu {
	width: 2.5rem;
	height: 2.75rem;
	background-position: -7rem 0rem;
}

#foot .fbox .fr .app {
	width: 2.5rem;
	height: 2.75rem;
	background-position: -9.25rem 0rem;
}